<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form</title>
</head>
<body style="background-image: url(https://images.pexels.com/photos/1172849/pexels-photo-1172849.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);">
<center style="padding-top: 100px;">
    <form action="">
        <fieldset style="width: fit-content; padding: 5px;  background: linear-gradient(45deg,lightgreen,lightblue,skyblue);">
            <legend>
                Registation form....
            </legend>
            <table>
                <tr>
                    <td> 
                        frist name :
                        <div>
                            <input type="text" placeholder="enter name"> 
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        Father name :
                        <div>
                            <input type="text" placeholder="enter father name">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        date of birth :
                        <div>
                            <input type="date" name="" id="">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        password :
                        <div>
                            <input type="password" placeholder="enter strong password">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        Conform password :
                        <div>
                            <input type="password" placeholder="enter strong password">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        Gender :
                        <div>
                            <input type="radio" name="gender" id="">Male
                            <input type="radio" name="gender" id="">Female
                            <input type="radio" name="gender" id="">Others
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        Mobile Number :
                        <div>
                            <input type="number" name="Mobile no" placeholder="Enter 10 digts mobile number">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        photo URL :
                        <div>
                            <input type="file" >
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <input type="submit" name="" id="">
                            <input type="reset" name="" id="">
                        </div>
                    </td>
                </tr>
            </table>
        </fieldset>
    </form>
</center>   
</body>
</html>